body {
  font-family: 'Roboto', sans-serif;
  background-color: #f8f9fa;
  color: #212529;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 30px;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

button {
  margin-top: 20px;
  font-size: 1rem;
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 20px;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #0069d9;
}

nav {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

nav ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
}

nav li {
  margin-right: 1rem;
}

nav a {
  color: #007bff;
  text-decoration: none;
  font-size: 1rem;
}

nav a:hover {
  text-decoration: underline;
}

.chart-container {
  display: flex;
  justify-content: center;
}

.buttons-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.buttons-container button {
  margin-right: 10px;
}

.buttons-container button:last-child {
  margin-right: 0;
}
